SECRET_KEY=django-insecure-change-me-cookieslab-local
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=cookieslab_web
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

TIME_ZONE=America/Mexico_City
